.productPageContainer {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  top: 2rem;

  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media (min-width: 1024px) {
    padding-left: 4rem;
    padding-right: 4rem;
    flex-direction: row;
  }
  @media (min-width: 1280px) {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  @media (min-width: 1536px) {
    padding-left: 16rem;
    padding-right: 16rem;
  }  
}

.productImages {
  background-color: --lafincaGreen;
  width: 100%;
  top: 5rem;
  height: max-content;

  @media (min-width: 1024px) {
    position: sticky;
    width: 50%;
  }
}

.productText {
  background-color: --lafincaGreen;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (min-width: 1024px) {
    width: 50%;
  }
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.description {
  color: var(--fontGrey);
}

.divSeparator {
  background-color: #F3F4F6;
  height: 2px;
}

.priceDiv {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--fontGrey);
  text-decoration: line-through;
}

.discountPrice {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

.productInfo {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.secondaryTitle {
  margin-bottom: 1rem; 
  font-weight: 500;
}