:root {
  --lafincaGreen: #31b431;
  --lafincaLightGreen: #e7f7e7fa;
  --fontGrey: #4e5158;
  --lightBlue: #ebf1ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}