.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.page {
  background-color: var(--lightBlue);
}

.section {
  padding: 5rem 2rem;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.divider {
  width: 100px;
  height: 4px;
  background: var(--lafincaGreen);
  margin: 1rem auto 2rem;
}