.page {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  padding-bottom: 5rem;

  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media (min-width: 1024px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media (min-width: 1280px) {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  @media (min-width: 1536px) {
    padding-left: 16rem;
    padding-right: 16rem;
  }  
}

.campainContainer {
  display: none; 
  background-color: var(--lafincaLightGreen); 
  padding-left: 1rem;
  padding-right: 1rem; 
  justify-content: space-around; 
  height: 16rem; 

  @media (min-width: 640px) { 
    display: flex; 
  }
}

.campain {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.campainH1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: #374151;
}

.campainButton {
  border-radius: 1.5rem;
  background-color: var(--lafincaGreen);
  color: white;
  width: max-content;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.campainImageContainer {
  position: relative;
  width: calc(100% / 3);
}

.campainImage {
  object-fit: contain;
}

.productListH1 {
  margin-top: 3rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}