.cartModal {
  width: max-content;
  position: absolute;
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 3px 10 rgba(0, 0, 0, 0.2);
  background-color: rgba(231, 247, 231, 0.979);
  top: 3rem;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 20;
  max-height: 25rem;
}

.cartTitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.fullCartContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 25rem;
  
}

.productContainer {
  display: flex;
  gap: 1rem;
}

.carImages {
  object-fit: cover;
  border-radius: 0.375rem;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 5rem;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.productTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  .h3 {
    font-weight: 600;
  }
}

.productPrice {
  padding: 0.25rem;
}

.productBottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.25rem;
  align-items: center;
}

.productButtons {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  background-color: white;
}

.productSpanQuantity {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.25rem 0.75rem;
  min-width: 2.5rem;
}

.productSpanRemove {
  color: #3B82F6;
  cursor: pointer;
}

.spanContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.bottomDescription {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--fontGrey);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.25rem;
}