.addContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quantityTitle {
  font-weight: 500;
}

.quantityContainer {
  display: flex;
  justify-content: space-between;
}

.quantityContainerDiv {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quantityButtons {
  background-color: var(--lafincaGreen);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
}

.quantityButton {
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border: none;
  background-color: transparent;
}

.quantityInput{
  font-size: 1.25rem;
  line-height: 1rem;
  border: none;
  background-color: var(--lafincaGreen);
  text-align: center;
  padding: 0.5rem 0;
  -moz-appearance: textfield;
}

.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantityInput:focus {
  outline: none;
}

.quantityLeftInfo {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.addButton {
  width: 9rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 1.5rem;
  border: none;
  padding: 0.5rem 1rem;
  box-shadow: inset 0 0 0 1px var(--lafincaGreen);
  color: var(--lafincaGreen);
  font-weight: 600;
  cursor: pointer;
}

.addButton:hover {
  background-color: var(--lafincaGreen);
  color: white;
}

.addButtonDisable {
  cursor: not-allowed;
  background-color: var(--lafincaLightGreen);
  box-shadow: inset 0 0 0 0px ;
  color: black;
}