.cartModal {
  width: max-content;
  position: absolute;
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 3px 10 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  top: 3rem;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 20;
}

.cartTitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.fullCartContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.productContainer {
  display: flex;
  gap: 1rem;
}

.carImages {
  object-fit: cover;
  border-radius: 0.375rem;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.productTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  .h3 {
    font-weight: 600;
  }
}

.productPrice {
  padding: 0.25rem;
  border-radius: 0.125rem;
  background-color: #F9FAFB;
}

.productDescription {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #6B7280;
}

.productBottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.productSpanQuantity {
  color: #6B7280;
}

.productSpanRemove {
  color: #3B82F6;
  cursor: pointer;
}

.spanContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.bottomDescription {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6B7280;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.button {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
  border-radius: 0.375rem;
  cursor: pointer;
}

.viewButton {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color); 
  --ring-color: #D1D5DB;
}

.payButton {
  color: #ffffff;
  background-color: #000000;
}