.categorylist {
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

.categoryListContainer {
  display: flex;
  gap: 1rem;

  @media (min-width: 768px) {
    gap: 2rem;
   }  
}

.categoryLink {
  flex-shrink: 0;
  width: 100%;

  @media (min-width: 640px) {
    width: 50%;
  }
  @media (min-width: 1024px) {
    width: 25%;
   }
  @media (min-width: 1280px) {
    width: 16.666667%;
   }
}

.categoryContainer {
  position: relative;
  width: 100%;
  height: 24rem;
}

.categoryImage {
  object-fit: cover;
}

.categoryTitle {
  margin-top: 2rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 300;
  letter-spacing: 0.025rem;
}