.customizeContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.customizeTitle {
  font-weight: 500;
}

.chooseList {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.chooseCircles {
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 2px black;
  cursor: pointer;
  position: relative;
  background-color: rgb(202, 12, 12);
  list-style: none;
}

.blue {
  background-color: rgb(15, 105, 240);
}

.notAllowed {
  cursor: not-allowed;
  background-color: var(--lafincaGreen);

}

.chooseCirclesBorderBlue {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 2px rgb(130, 136, 138); 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chooseCirclesBorderRed {
  position: absolute;
  width: 2.5rem;
  height: 2px;
  background-color: #F87171;
  rotate: 45deg;
  top: 50%;
  transform: translate(-10%, 100%);
}

.chooseSize {
  box-shadow: inset 0 0 2px var(--lafincaGreen);
  background-color: var(--lafincaGreen);
  color: white;
  border-radius: 0.375rem;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  list-style: none;
}

.chooseSizeNotSelected {
  color: black;
  background-color: white;
}

.chooseSizeNotSelected:hover {
  color: white;
  background-color: var(--lafincaGreen);
}

.chooseSizeDisable {
  background-color: var(--lafincaLightGreen);
  box-shadow: inset 0 0 2px var(--lafincaGreen);
  cursor: not-allowed;
  color: black;
}