.filterContainer {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.filtersGroup {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.filterSelect {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  background-color: #e7f7e7fa;
}

.filterInput {
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: 1rem;
  padding-left: 0.5rem;
  width: 6rem;
  box-shadow: inset 0 0 0 1 #9ca3af;
}

.filterSort {
  background-color: white;
  box-shadow: inset 0 0 0 1 #9ca3af;
}