.loginContainer {
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--lafincaLightGreen);

  @media (min-width: 768px) { 
    padding-left: 2rem;
    padding-right: 2rem; 
  }
  @media (min-width: 1024px) { 
    padding-left: 4rem;
    padding-right: 4rem; 
  }
  @media (min-width: 1280px) { 
    padding-left: 8rem;
    padding-right: 8rem; 
  }
  @media (min-width: 1536px) {
    padding-left: 16rem;
    padding-right: 16rem;;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 0.375rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.formTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
}

.modeDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modeLabel {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #374151;
}

.modeInput {
  box-shadow: inset 0 0 0 2px #d1d5db;
  border-radius: 0.375rem; 
  padding: 1rem;
}

.modeChange {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

.loginButton {
  background-color: var(--lafincaGreen);
  color: white;
  padding: 0.5rem;
  border-radius: 0.375rem;
}

.loginButton:disabled {
  background-color: var(--lafincaLightGreen);
  color: black;
  cursor: not-allowed;
}

.error {
  color: #DC2626;
}

.message {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #059669;
}