.menuIcon {
  cursor: pointer;
}

.menuBar {
  position: absolute;
  background-color: white;
  color: black;
  left: 0;
  top: 4.375rem;
  width: 100%;
  height: calc(100vh - 4.375rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  z-index: 10;
}