.buttons {
  border-radius: 0.375rem;
  background-color: var(--lafincaGreen);
  color: white;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 6rem;
  cursor: pointer;
}

.buttons:disabled {
  cursor: not-allowed;
  color: black;
  background-color: var(--lafincaLightGreen);
}

.paginationDiv {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.currentPage {
  font-size: 1.5rem;
  line-height: 2.2rem;
}