.productListContainer {
  display: flex;
  column-gap: 2rem;
  row-gap: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.productContainer {
  position: relative;
  width: 100%;
  height: 20rem;
}

.productLink {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productImages {
  position: absolute;
  object-fit: cover;
  border-radius: 0.375rem;
}

.productImageTop {
  background-color: white;
  z-index: 10;
}

.productImageTop:hover {
  opacity: 0;
  transition: ease 500ms;
}