.productListContainer {
  margin-top: 3rem;
  display: flex;
  column-gap: 2rem;
  row-gap: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.productContainer {
  position: relative;
  width: 100%;
  height: 20rem;
}

.productLink {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 640px) { 
    width: 45%;
   }
   @media (min-width: 1024px) { 
    width: 22%;
   }
}

.productImages {
  position: absolute;
  object-fit: cover;
  border-radius: 0.375rem;
}

.productImageTop {
  background-color: white;
  z-index: 9;
}

.productImageTop:hover {
  opacity: 0;
  transition: ease 500ms;
}

.productData {
  display: flex;
  justify-content: space-between;
}

.productName {
  font-weight: 500;
}

.productPrice {
  font-weight: 600;
}

.productDescription {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--fontGrey);
}

.addToCart {
  box-shadow: inset 0 0 0 2px rgb(43, 158, 43);
  color: var(--lafincaGreen);
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  border: none;
  border-radius: 1rem;
  line-height: 1rem;
  cursor: pointer;
}

.addToCart:hover {
  background-color: var(--lafincaGreen);
  color: #ffffff; 
}