.slider {
  height: calc(100vh - 4.375rem);
  overflow: hidden;
}

.sliderContainer {
  width: max-content;
  height: 100%;
  display: flex;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

.slides {
  width: 100vw; 
  height: 100%;
  display: flex; 
  flex-direction: column; 
  gap: 4rem;

  @media (min-width: 1280px) { 
    flex-direction: row; 
  }
}

.bgOne {
  background-image: linear-gradient(to right, #fcefbe, #fcd0e8);
}

.bgTwo {
  background-image: linear-gradient(to right, #fcd0e8, #b6d6ff);
}

.bgThree {
  background-image: linear-gradient(to right, #b6d6ff, #fcefbe);
}

.slideText {
  height: 50%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;

  @media (min-width: 1280px) {
    width: 50%;
    height: 100%;
  }
  @media (min-width: 1536px) {
    gap: 3rem;
  }

  }

.textH2 {
  font-size: 1.25rem;
  line-height: 1.75rem;

  @media (min-width: 1024px) { 
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  @media (min-width: 1536px) {
    font-size: 3rem;
    line-height: 1;
  }
}

.textH1 {
  font-size: 3rem;
  line-height: 1; 
  font-weight: 600; 

  @media (min-width: 1024px) { 
    font-size: 3.75rem;
    line-height: 1; 
  }

  @media (min-width: 1536px) {
    font-size: 6rem;
    line-height: 1; 
  }
}

.textButton {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
  border-radius: 0.375rem; 
  color: #ffffff; 
  background-color: #000000; 
}

.slideImage {
  position: relative;
  height: 50%; 

  @media (min-width: 1280px) { 
    width: 50%; 
    height: 100%; 
  }
}

.slideImage Image {
  object-fit: cover;
}

.selector {
  position: absolute;
  margin: auto;
  left: 50%;
  bottom: 2rem;
  display: flex; 
  gap: 1rem;
}

.selectorButton {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px rgba(75, 75, 75, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectorScale {
  --transform-scale-x: 1.5;
  --transform-scale-y: 1.5;
}

.selectorCircle {
  border-radius: 9999px; 
  background-color: #6B7280; 
  width: 6px;
  height: 6px;
}