.skeletonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeletonImage {
  width: 100%;
  height: 150px;
  background: linear-gradient(90deg, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  animation: loading 1.5s infinite;
}

.skeletonText {
  width: 80%;
  height: 20px;
  background: #eee;
  animation: loading 1.5s infinite;
}

.skeletonTextShort {
  width: 50%;
  height: 20px;
  background: #eee;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}